body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

h2 {
    padding: 0;
    margin: 0;
}

#board {
    width: 1000px;
    height: 1000px;
    display: block;
    margin: 0 auto;
}

#controls {
    display: flex;
    justify-content: center;
    margin: 10px;
}

#toaster {
    position: fixed;
    top: 5vh;
    right: 5vw;
    box-shadow: -5px 5px 10px -5px #000000;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #000000;
}

.hidden {
    display: none;
}
